.js {
    display: flex;
    justify-content: center;
    align-items: center;
}

.js2 {
    height: 300px;
    width: 300px;
    background-color: rgb(87, 194, 176);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}