.boxSectionG {
    margin: 0;
    height: 100vh;              
    display: flex;
    justify-content: center;    
    align-items: center;         
    background: #f1f1f1;
    font-family: Arial, sans-serif;
}


.blokasG {
    width: 300px;    
    height: 200px;     
    background: #556B2F;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}