section.RSR-e {
    position: relative;
    display: flex;
    height: 200px;
    width: 400px;
    background-color: olivedrab;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 0px auto;
}