body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


section {
    display: flex;
    height: 200px;
    width: 400px;
    background-color: olivedrab;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}