body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    background-color: darkcyan;
    width: 500px;
    height: 300px;
    font-size: 36px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}