.rectangleMKod {
    position: relative;
    width: 100%;
    height: 100vh;
    
}
.informationMKod {
    position: absolute;
    color: rgb(203, 4, 41);
    font-size: 25px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    font-weight: 700;
    border: 2px solid skyblue;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

