body {
    display: flex;
} 
.rectangle {
    width: 200px;
    height: 100px;
    border: 2px solid crimson;
    background-color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}