.section_miumla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section_miumla div {
    height: 300px;
    width: 400px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    color: darkmagenta;
    font-weight: 700;
    letter-spacing: 3px;
}