* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: #f4f4f4;
}

section {
    font-size: 36px;
    color: seagreen;
    border: 4px solid #000;
    background-color: #19870511;    
    width: 90%;
    max-width: 1000px;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;   
    gap: 20px;
    align-items: flex-start;                
}
a {
    color: seagreen;
    text-decoration: none;
    font-weight: bold;
}
.appear {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;
}
.appear.show {
    opacity: 1;
    transform: translateY(0);
}
.github-btn {
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    background-color: #2ea44f;
    color: white;
    padding: 14px 32px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s, background-color 0.2s, opacity 0.2s;
}