* {
    margin: 0;
}

.section {
    display: flex;
    position: relative;
    width: 100%;
    height: 765px;
    align-items: center;
    justify-content: center;
}

.staciakampis {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 120px;
    border: 2px solid royalblue;
    background-color: royalblue;
}
