body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    border-color: black;
    border: 5px solid;
    width: 400px;
    height: 300px;
    background-color: bisque;
    text-align: center;
    font-weight: 900;

}