section.rol-ka {
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
section.rol-ka div.rol-ka {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    border-color: black;
    border: 5px solid;
    width: 400px;
    height: 300px;
    background-color: bisque;
    text-align: center;
    font-weight: 900;
}
