body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

section {
    height: 400px;
    width: 800px;
    background-color: #e082e0;
    border: 5px solid #3f073f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    color: #7fa1e0;
    font-weight: 600;
    letter-spacing: 5px;
}