.GVabolBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: maroon;
    color: white;
    font-size: 32px;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
