body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    color: white;
    border: 5px solid #000000;
    background-color: #00000070;
    width: 1000px;
    height: 500px;
    display: flex;
    font-size: 36px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

