#l-cnas {
    min-height: 50vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}

#l-cnas div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    background-color: black;
}

#l-cnas p {
    text-align: center;
    color: white;
}