body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.info{
    height: 250px;
    width: 400px;
    background-color: #cd0044;
    justify-content: center;
    display: flex;
}

.p1 {
    text-align: center;
    font-size: 50px;
    font-weight: 10;
}

.p2 {
    text-align: center;
    font-size: 25px;
}