#Gre-Sl div {
    box-sizing: border-box;
    display: inline-block;
    background-color: #bb004e;
    width: 400px;
    height: 250px;
    min-width: 400px;
    align-items: center;
    justify-content: center;
}

#Gre-Sl .p1 {
    text-align: center;
    font-size: 50px;
}

#Gre-Sl .p2 {
    text-align: center;
    font-size: 30px;
}